<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <app-addform-worker (addWorker)="onAddWorker($event)" (editWorker)="onEditWorker($event)"></app-addform-worker>

  <div class="row mb-3">
    <div class="col-6">
      <input type="text" class="form-control" [(ngModel)]="searchName" placeholder="Find name">
    </div>
    <div class="col-6">
      <input type="text" class="form-control" [(ngModel)]="searchSurname" placeholder="Find surname">
    </div>
  </div>

  <app-table-workers [title]="'Programmers'" [workers]="getByType(myWorkerType.programmer) | nameFilter: searchName | surnameFilter: searchSurname"
    (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
  <app-table-workers [title]="'Designers'" [workers]="getByType(myWorkerType.designer) | nameFilter: searchName | surnameFilter: searchSurname"
    (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
  <app-table-workers [title]="'Copywriters'" [workers]="getByType(myWorkerType.copywriter) | nameFilter: searchName | surnameFilter: searchSurname"
    (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
  <app-table-workers [title]="'Managers'" [workers]="getByType(myWorkerType.manager) | nameFilter: searchName | surnameFilter: searchSurname"
    (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
</div>